# Vscode
.vscode/

# Executables
*.o
*.hex
*.bin
*.out

# Other
*.txt
*.zip
*.rex
asm/*.xml
asm/echo*.rch8

drivers/*.o
kernel/*.o

font/*.exe
asm/*.exe

# Temporary
work/

# Not in use
include/chip8.h
include/filesys.h
api.c
io.c