# Vscode
.vscode/

# Executables
*.o
*.hex
*.bin
*.out

drivers/*.o
kernel/*.o

font/*.exe
asm/*.exe

# Temporary
work/

# Other
*.txt
*.rch8

asm/*.xml

# Not in use
include/chip8.h
include/filesys.h
api.c
io.c